<div class="search-form">
    <h4>Search Patient</h4>
    <form>
        <label>Search</label><br />
        <input type="text" (keyup)="searchValue()" [(ngModel)]="search" name="search" placeholder="Search.." />
        <p class="error">{{error}}</p>
    </form>

    <table *ngIf="show" mdbTable>
        <thead>
          <tr>
            <th *ngFor="let head of header" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of patients">
            <td>{{el.name}}</td>
            <td>{{el.gender}}</td>
            <td>{{el.dob}}</td>
            <td>{{el.phone_number}}</td>
            <td>{{el.hiv_status}}</td>
          </tr>
        </tbody>
      </table>
</div>